<div id="<%= dom_id order_pick %>">
  <p>
    <strong>Position:</strong>
    <%= order_pick.position_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_pick.quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order_pick.user_id %>
  </p>

</div>
