<h1>Editing order pick</h1>

<%= render "form", order_pick: @order_pick %>

<br>

<div>
  <%= link_to "Show this order pick", @order_pick %> |
  <%= link_to "Back to order picks", order_picks_path %>
</div>
