<div id="<%= dom_id carts_product %>">
  <p>
    <strong>Cart:</strong>
    <%= carts_product.cart_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= carts_product.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= carts_product.quantity %>
  </p>

</div>
