<h1>Editing carts product</h1>

<%= render "form", carts_product: @carts_product %>

<br>

<div>
  <%= link_to "Show this carts product", @carts_product %> |
  <%= link_to "Back to carts products", carts_products_path %>
</div>
