<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Cancel motivation:</strong>
    <%= order.cancel_motivation %>
  </p>

  <p>
    <strong>Track code:</strong>
    <%= order.track_code %>
  </p>

</div>
