<h1>Editing debit card</h1>

<%= render "form", debit_card: @debit_card %>

<br>

<div>
  <%= link_to "Show this debit card", @debit_card %> |
  <%= link_to "Back to debit cards", debit_cards_path %>
</div>
