<div id="<%= dom_id payment %>">
  <p>
    <strong>Type:</strong>
    <%= payment.type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= payment.value %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

</div>
