<div id="<%= dom_id addresses_user %>">
  <p>
    <strong>User:</strong>
    <%= addresses_user.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= addresses_user.address_id %>
  </p>

</div>
