<h1>Editing addresses user</h1>

<%= render "form", addresses_user: @addresses_user %>

<br>

<div>
  <%= link_to "Show this addresses user", @addresses_user %> |
  <%= link_to "Back to addresses users", addresses_users_path %>
</div>
